<template>
    <div class="row">
        <div class="col-xl-5">
            <div class="form-group">
                <label for="event_id">Evento*</label>
                <select class='form-control form-control-alt' name="event_id" id="event_id" placeholder='Seleccione...'>
                    <option v-for="event in events" v-bind:value="event.id">
                        {{ event.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="form-group">
                <label for="ticket_type_id">Tipo de entrada*</label>
                <select class='form-control form-control-alt' name="ticket_type_id" id="ticket_type_id"
                    placeholder='Seleccione...' @change="setPrice($event)"
                >
                    <option v-for="ticketType in ticketTypes" 
                        v-bind:value="ticketType.id"
                        >
                        {{ ticketType.name }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-group">
                <label for="qty">Cantidad*</label>
                <input type="text" id="qty" name="qty" class='form-control' placeholder='Ingrese material de impresión' v-model="qty">
            </div>
        </div>
        <div class="col-xl-2">
            <div class="form-group">
                <label for="total">Total*</label>
                <input type="text" id="total" name="total" class='form-control' placeholder='Ingrese material de impresión' v-model="total" disabled>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            ticketTypes: Array,
            events: Array
        },
        data() {
            return {
                qty: 1,
                price: 0
            };
        },
        methods: {
            setPrice(event) {
                this.price = this.ticketTypes[event.target.value-1].price;
            }
        },
        computed: {
            total() {
                return 'USD' + (this.price * this.qty)
            }
        },
        mounted() {
            console.log('Component mounted.');
            this.price = this.ticketTypes[0].price;
        }
    }
</script>
